{% if altProductCard %}
  {% capture cardType %} product-card-alt{% endcapture %}
{% endif %}

{% assign itemType = product %}
  {% if template contains 'search' %}
    {% assign itemType = item %}
  {% elsif template contains 'product' %}
    {% assign itemType = product %}
  {% endif %}

{% assign variant_option = 'color' %}
    {% assign to_trim = variant_option | append: '-' %}
    {% assign variant_image = itemType.featured_image  %}
    {% assign product_image = variant_image %}
    {% assign variant_id = empty %}
	{% assign variant_obj = itemType.selected_or_first_available_variant%}
    {% for option in product.options %}
      {% assign downcased_option = option | downcase %}
      {% if downcased_option contains variant_option %}
        {% assign option_index = forloop.index0 %}
        {% assign values = '' %}
        {% for variant in itemType.variants %}
          {% if variant.available %}
            {% assign value = variant.options[option_index] %}
            {% assign selected_tag = value | handle %}
            {% assign all_selected = current_tags | join: '||' | append: '||' | append: collection.handle %}
            {% assign all_selected_list = all_selected | split: '||' %}
            {% for tag in all_selected_list %}
              {% if tag.size > 0 %}
                {% assign tag_trimmed = tag | replace: to_trim, '' %}
                {% if selected_tag contains tag_trimmed or tag_trimmed contains selected_tag %}
                  {% assign new_variant_image = variant.featured_image  %}
                  {% if variant.featured_image and new_variant_image != product_image %}
                      {% assign variant_image = new_variant_image %}
                      {% assign variant_id = variant.id %}
					  {% assign variant_obj = variant %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

<li class="product product-{{ itemType.id }} {% include 'for-looper' %} {% cycle 'flush', '', '', '' %}">

  {% assign productImageSize = 'grande' %}

  <div class="product-inner{{ cardType }}">
    <figure style="background-image:url('{{ itemType.images[0] | product_img_url: productImageSize }}');">
      <img alt="{{ variant_image.alt }}" src="{{ variant_image | product_img_url: productImageSize }}">

      <a href="{{ itemType.url | within: collection }}{% if variant_id != blank %}?variant={{ variant_id }}{% endif %}" class="{% if imageBorders %}with-border{% endif %}"></a>

      {% if altProductCard %}
        <a class="centering-wrapper overlay" href="{{ itemType.url | within: collection }}{% if variant_id != blank %}?variant={{ variant_id }}{% endif %}"
          {% if enableQuickshop %}data-quickshop-id="{{ itemType.id }}"{% endif %}>
          <span class="product-card-details-overlay">
            {% if brandNames %}
              <h3 class="brand">{{ itemType.vendor }}</h3>
            {% endif %}
            <h2 class="title">{{ itemType.title }}</h2>

            {% if itemType.available %}
              {% if itemType.compare_at_price_min > itemType.price_min %}
                <p class="price sale"><span class="original money"> {{ itemType.compare_at_price_min | money }}</span> <span class="money">{{ itemType.price_min | money }}</span></p>
              {% else %}
                <p class="price"><span class="money">{{ itemType.price_min | money }}</span></p>
              {% endif %}
            {% else %}
              <p class="price">{{ 'products.product.sold_out' | t }}</p>
            {% endif %}
          </span>
        </a>
      {% elsif enableQuickshop %}
        <div class="overlay quickshop-trigger" data-quickshop-id="{{ itemType.id }}">
          <span class="label">{{ 'collections.collection.quick_shop' | t }}</span>
        </div>
      {% endif %}

      {% include 'product-badges' %}
    </figure>

    <div class="product-card-details">
      {% if brandNames %}
        <h3 class="brand">{{ itemType.vendor | link_to_vendor }}</h3>
      {% endif %}
      <h2 class="title"><a href="{{ itemType.url | within: collection }}">{{ itemType.title }}</a></h2>

      {% if itemType.available %}
        {% if itemType.compare_at_price_min > itemType.price_min %}
          <p class="price sale"><span class="original money">{{ itemType.compare_at_price_min | money_without_currency }}</span> <span class="money">{{ itemType.price_min | money }}</span></p>
        {% else %}
          <p class="price"><span class="money">{{ itemType.price_min | money }}</span></p>
        {% endif %}
      {% else %}
        <p class="price"><span class="label">{{ 'products.product.sold_out' | t }}</span></p>
      {% endif %}
    </div>

    {% if enableQuickshop %}
      {% include 'product-quick-shop' %}
    {% endif %}
  </div>
</li>
